body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(3, 1fr);
}

.status {
  margin-bottom: 10px;
}

.square {
  display: block;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}

.history {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  font-family: inherit;
}

.history:focus {
  outline: none;
}

.history:hover {
  text-decoration: underline;
}

.history .mark {
  font-weight: bold;
}

.current-step {
  background-color: yellow;
}
